
body {
    background-color: rgb(9, 24, 6);text-align: center;
}
h1 {
    color:rgb(0, 240, 80);
}
p    {
    color: rgb(0, 240, 80); font-size: 20 px;
}
pre {
    font-family: monospace, Times, serif;
}
